{% extends 'base.html' %}
{% load static %}

{% block title %}To-Do List | About Me{% endblock %}

{% block content %}
<h1>About me! </h1>
    <p>My name is {{ first_name }} {{ last_name }}</p>



	 <div class="container"><br/>

		<div class="card">
			<h5 class="card-header"><strong>經歷</strong></h5>
			<div class="card-body"><br/>
				<h6 class="card-title"><strong>人群數據 PM</strong></h6>
<!--				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
				<div class="container">
				  <div class="row">
					<div class="col-md-8">
						<strong>意藍資訊 , 產品分析師</strong><br/>
						<p align="justify">負責的產品為「人群資料庫」，使用瀏覽器 Tracking 技術，
						紀錄瀏覽者行為及其數位足跡 (log)，透過語意分析將閱讀資訊解析，並將數據標籤化後儲存，
							資料庫每日紀錄量超過3000萬筆資料。主要的工作職責包括產品優化與推進、資料站台維護以及專案執行。
						</p>
					</div>
					  <div class="col-md-4 ml-auto" align="right"><em>2019.03~2019.10</em>
					</div>
				  </div>
				</div>


				<br/><br/>


				<h6 class="card-title"><strong>資料分析師養成班學員</strong></h6>
<!--				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
				<div class="container">
				  <div class="row">
					<div class="col-md-8">
						<strong>中壢資策會 AI/Big data , 成員</strong><br/>
						<p align="justify">學習數據工程及 AI ( 機器學習、深度學習 ) 演算法相關技術。完成專題「新聞呆腦獸
							Line ChatBot」。新聞呆腦獸是新聞聊天機器人，每日會推播跨新聞平台計算，當日最熱門的政治新聞
							，並利用演算法(doc2vec)將同一事件不同來源一起呈現，並使用KNN演算法自動標示藍綠政治傾向標籤
							、文章的情緒、聲量分析、供新聞自動化摘要方便使用者閱讀。
						</p>
					</div>
					  <div class="col-md-4 ml-auto" align="right"><em>2018 - 2019</em>
					</div>
				  </div>
				</div>


				<br/><br/>


				<h6 class="card-title"><strong>法案助理</strong></h6>
<!--				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
				<div class="container">
				  <div class="row">
					<div class="col-md-8">
						<strong>立法院 , 國會辦公室法案助理</strong><br/>
						<p align="justify">撰寫法案、預算案、質詢稿、委員各類發言稿。草擬新聞稿、召開記者會。
							掌握國會法案立法時程，即時對委員提出行動建議。特定議題研究，推動議案政策形成。
							國會政治攻防策略建議。與政府部門、各類非營利組織及利益團體建立關係，以利法案修正與草擬。
						</p>
					</div>
					  <div class="col-md-4 ml-auto" align="right"><em>2013 - 2018</em>
					</div>
				  </div>
				</div>

				<br/><br/>


				<h6 class="card-title"><strong>銀行儲備幹部</strong></h6>
<!--				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
				<div class="container">
				  <div class="row">
					<div class="col-md-8">
						<strong>遠東商銀 , MA</strong><br/>
						<p align="justify">輪調銀行各單位，瞭解銀行整體運作，完成特定任務（
							流程改善、協助達成業績、商品建議、各銀行理財商品競品分析等）
							個金人資年度太弱留強專案，理專、分行經 理、後勤單位招募。網銀使用介面改善（競品分析）。
							財富管理商品他行競品分析。客戶開戶流程改善、信託商品建議、網銀理財商品客群分析。銀行作業管理流程改善。
						</p>
					</div>
					  <div class="col-md-4 ml-auto" align="right"><em>2012 - 2013</em>
					</div>
				  </div>
				</div>


			</div>
		</div>


	<br/><br/>
		 <div class="card">
			 <h5 class="card-header"><strong>工作技能</strong></h5>
			<div class="card-body">
				<div class="container">
				  <div class="row">

					  <div class="col-md-3">
						  <strong>前端技術</strong><br/><br/>
						  HTML & CSS<br/>
						  Bootstrap<br/>
						  Line Chatbot
					  </div>
					  <div class="col-md-3">
					  	<strong>後端技術</strong><br/><br/>
						  MySQL Database<br/>
						  NoSQL(MonogoDB)<br/>
						  Django<br/>
						  Flask<br/>
						  Hadoop<br/>
						  Spark<br/>
						  Kafka<br/>
						  Grafana<br/>
						  ELK Stack


					  </div>
					  <div class="col-md-3">
					  	<strong>其他科技技能</strong><br/><br/>
						  Python<br/>
						  Java<br/>
						  R<br/>
						  Linux<br/>
						  Git<br/>
						  Docker<br/>


					  </div>
					  <div class="col-md-3">
					  	<strong>領域能力</strong><br/>
						  ◆數據探勘、資料整理及分析。<br/>
						  ◆機器學習分析(K-means, Decision tree, Naive Bayes, Logistic regression, KNN)。<br/>
						  ◆政治分析及行動策略建議。<br/>
						  ◆國會各類文案撰寫 : 法案、預算案、發言稿撰寫、新聞稿撰寫。<br/>
						  ◆熟悉銀行各項業務、及各類金融商品。<br/>
						  ◆專業證照：金融市場常識與職業道德、信託業務員證照、投信投顧業務員證照、壽險證照。
					  </div>
				  </div>
			</div>
		</div>
		 </div>


	<br/><br/>
		 <div class="card">
			 <h5 class="card-header"><strong>教育背景</strong></h5>
			<div class="card-body">
				<div class="container">
				  <div class="row">
					<div class="col-md-1"><img src="{% static 'images/nccu.png' %}"></div>
					<div class="col-md-4 ">
						<strong>政治大學 , 碩士</strong><br>
						俄羅斯研究（區域研究）, <em>2009 ~ 2012</em><br>
						論文：捷克轉型正義與淨化法之研究 <br>
					</div>
				  </div>
				</div>
			</div>
		 </div>



	<br/><br/>
		 <center>Copyright &copy; ChristinaLu</center>
	 <br/><br/><br/><br/>

	</div>

{% endblock %}